<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Integrity Church</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link href="{{ app_uri }}css/integrity.css" rel="stylesheet">
    {% block addToHead %}
    {% endblock %}

        <style>
            {% if billboard is defined%}
            #billboard-grid {
                /*display: grid;*/
                /*grid-template-columns: 20% 20% 1fr 1fr 20%;*/
                /*grid-template-rows: 1fr;*/
                display: grid;
                grid-template-columns: 20% 20% 1fr 1fr 20%;
                grid-template-rows: 1fr;
                /*grid-template-rows: 50px auto 50px;*/
            }
            #billboard-img {
                grid-column: 1 / 6;
                grid-row: 1 / 3;
                width: 100%;
                height: auto;
                /*grid-column-start: 1;*/
                /*grid-column-end: 6;*/
                /*grid-row-start: 1;*/
                /*grid-row-end: 3*/
            }

            #billboard-text {
                grid-column: 1 / 4;
                grid-row: 2;
                margin: 5px;
            }
            {% else %}
            body {
                /*padding-top: 55px;*/
            }
            {% endif %}

        </style>
</head>
{% set bg_color = dark %}
{% set text_color = light %}
{% if page is defined %}
    {% set bg_color = page.bg_color %}
    {% set text_color = page.text_color %}
{% endif %} {# not elseif because the two variables coexist #}
{% if series is defined %} {# needs to override page #}
    {% set bg_color = series.bg_color %}
        {% if bg_color == "light" %}
        {% set text_color = "dark" %}
    {% else %}
        {% set text_color = "white" %}
    {% endif %}
{% endif %}
<body class="bg-{{ bg_color }} text-{{ text_color }} pb-md-0"
      style="padding-bottom: 73px;"
>

<!-- Navigation -->
{% block header %}
    {% include 'header.twig' %}
{% endblock header%}

{% block content %}

{% endblock content %}
<!-- Footer -->
{% block footer %}
    {% include 'footer.twig' %}
{% endblock footer %}

<!-- Custom scripts for this template -->
<script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
<script type="text/javascript">
    var OFFSET_TOP = 50;
    $(window).scroll(function () {
        $(".navbar").length && ($(".navbar").offset().top > OFFSET_TOP ? $(".scrolling-navbar").addClass("top-nav-collapse") : $(".scrolling-navbar").removeClass("top-nav-collapse"));
        {% if bg_color != "dark" and page.billboard_img == null%}
            $(".navbar").length && ($(".navbar").offset().top > OFFSET_TOP ? $(".nav-link").addClass("text-white").removeClass("text-dark") : $(".nav-link").removeClass("text-white").addClass('text-dark'));
            $(".navbar").length && ($(".navbar").offset().top > OFFSET_TOP ? $("#header-logo").attr('src',"{{ app_uri }}img/headerlogo.png") : $("#header-logo").attr('src',"{{ app_uri }}img/headerlogodark.png"));
        {% endif %}
    })
</script>
<!-- Page Specific -->
{% block scripts %}

{% endblock scripts %}
</body>

</html>
