{% extends 'base.twig' %}
{# header #}
{% block content %}
    {% if billboard %}
        <style>
            #billboard-grid {
                display: grid;
                grid-template-columns: 20% 20% 1fr 1fr 20%;
                grid-template-rows: 1fr;
            }
            #billboard {
                grid-column: 1 / 6;
                grid-row: 1 / 3;
                width: 100%;
                height: auto;
            }

            #billboard-text {
                grid-column: {% if page.billboard_text is not null %}1 / 4{% else %}1 / 6{% endif %};
                grid-row: {% if page.billboard_text is not null %}2{% else %}1{% endif %};
                margin: 5px;
            }
        </style>
        <div id="billboard-grid">
            <img id="billboard" class="shadow" src="{{ app_uri }}{{ billboard.img|raw }}">
            <div id="billboard-text" {% if page.billboard_text is not null %}{% else %}class="my-auto"{% endif %}>
                {% if page.billboard_text is not null %}{{ page.billboard_text|raw }}{% else %}<div class="text-center" style="font-size: 13vw;">{{ page.name|title }}</div>{% endif %}
            </div>
        </div>
    {% endif %}
    {{ page.content ? page.content|raw : '' }}

    {% for section in sections %}
        <section>
                {% if section.heading %}<h2>{{ section.heading }}</h2>{% endif %}
                <div>
                    {% if section.content %}{{ section.content|raw }}{% endif %}
                </div>
        </section>
        {#{% include 'sections/' ~ section.name ~ '.twig' %}#}
    {% endfor %}

{% endblock content %}
{% block scripts %}
{% endblock scripts %}
