<footer class="container-fluid">
    <div class="d-none d-md-flex row">
        <div style="background-color: #0f212c;font-size: small" class="col-10 px-1">
            <div class="row">
                <div class="col">Col 1</div>
                <div class="col">Col 2</div>
            </div>
            <div class="row border-top border-info">
                <div class="col">Col 3</div>
                <div class="col">Col 4</div>
            </div>
        </div>
            <div style="background-color: #0f212c; font-size: small" class="col-2">
                <ul class="list-group list-group-flush p-0 text-right">
                    {% for link in footerLinkList %}
                        <button type="button" class="list-group-item bg-transparent p-0 border-info text-right">
                            <a class="text-white" href="{{ app_uri }}{{ link.parent ? '/' ~ link.parent : '' }}/{{ link.path }}">{{ link.name|title }}</a>
                        </button>
                    {% endfor %}
                    <li class="list-group-item bg-transparent text-white p-0 border-info">
                        <a class="text-white" href="{{ app_uri }}/admin/settings">Admin</a>
                    </li>
                </ul>
            </div>
        {#{% else %}#}
            {#<h1>Who needs a footer anyway?</h1>#}
    </div>

    {#{% endif %}#}

    <nav class="d-md-none navbar fixed-bottom navbar-expand-md navbar-dark">
        {% if settings %}
            <a class="navbar-brand text-hide" href="{{ app_uri }}">Integrity Church
                <img src="{{ app_uri }}img/{{ settings.header_logo_light }}"/>
            </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            {% if headerLinks %}
                <ul class="navbar-nav text-right">
                    {% for key, parent in headerLinks %}
                        {% if key|length %}
                            <li class="nav-item dropup">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="dropdown10" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ key|title }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="dropdown10">
                                    {% for link in parent %}
                                        <a class="dropdown-item"
                                           href="{{ app_uri }}{{ link.parent ?  link.parent : '' }}/{{ link.path }}">{{ link.name|title }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <h1>No Parents, No Rules!</h1>
            {% endif %}
        </div>
    </nav>

</footer>