{#<header style="font-family: 'Raleway', sans-serif">#}
    <nav class="d-none d-lg-flex navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar py-0">
        {% if settings.header_logo %}
            <a class="navbar-brand" href="/">
                <img src="{{ app_uri }}img/{{ settings.header_logo }}"/>
            </a>
        {% endif %}
        {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
            {#<span class="navbar-toggler-icon"></span>#}
        {#</button>#}
        {#<div class="collapse navbar-collapse" id="navbarSupportedContent">#}
            {% if headerLinks %}
                <ul class="navbar-nav ml-auto">
                    {% for key, parent in headerLinks %}
                        {% if key|length %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white h4" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ key|title }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    {% for link in parent%}
                                        <a class="dropdown-item" href="{{ app_uri }}{{  link.parent ?  link.parent : '' }}/{{ link.path }}"><strong>{{ link.name|title }}</strong></a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <h1>No Parents, No Rules!</h1>
            {% endif %}
        {#</div>#}
    </nav>
{#</header>#}