{% extends 'base.twig' %}
{# header #}
{% block content %}

    {% if billboard %}
        <div id="billboard-grid">
            <img id="billboard" src="{{ billboard.img|raw }}">
            <div id="billboard-text">
            {{ billboard.text|raw }}
            </div>
        </div>
    {% endif %}
    {#{{ mediaLinks.index_billboard|raw }}#}
    {% for section in sections %}
        <section style="margin-top: 5px">
                {% if section.heading %}<h2>{{ section.heading }}</h2>{% endif %}
                <div>
                    {% if section.content %}{{ section.content|raw }}{% endif %}
                </div>
        </section>
        {#{% include 'sections/' ~ section.name ~ '.twig' %}#}
    {% endfor %}


{% endblock content %}
{% block scripts %}
{% endblock scripts %}
