{% extends 'base.twig' %}
    {% block header %}
    {% endblock header %}
{% block content %}
    <div id="index-header">
        <nav id="index-nav" class="navbar fixed-top navbar-{{ bg_color }}">
            {% if settings %}
                <a class="navbar-brand" href="{{ app_uri }}">
                    <img id="header-logo" src="{{ app_uri }}img/logos/brand_50-{% if bg_color == "dark" %}light{% else %}light{% endif %}.png"/>
                    <span class="h3 font-weight-bold align-middle">Integrity Church</span>
                </a>
            {% endif %}
            <button class="navbar-toggler" id="burger" type="button" data-toggle="" data-target="" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </div>
    {{ include('./templates/fullnav') }}
    <div id="app">
        <transition name="fade" mode="out-in">
            <router-view></router-view>
        </transition>
    </div>
    <template id="home">
        <div>
            {% set bg_color = "dark" %}
            {% set text_color = "white" %}
            {#{% include 'header.twig' %}#}

            <div id="index-top" class="m-0">

                {#<img class="img-fluid" src="{{ app_uri }}/img/collage.jpg">#}
                <div id="index-top-main" class="px-4 text-right">
                    <div id="welcome-text" class="h1">WELCOME</div>
                    <table border="0" width="100%" cellpadding="0" cellspacing="0"  class="ml-auto mt-2">
                        <tr>
                            <td class="h3">
                                <router-link to="/welcome" style="text-decoration: none;" class="text-white">COME TO A SERVICE</router-link>
                            </td>
                            <td>
                                <router-link to="/welcome"><i class="fas fa-caret-right main-menu-icon"></i></router-link>
                            </td>
                        </tr>
                        <tr>
                            <td class="h3">
                                <router-link to="/beliefs" style="text-decoration: none;" class="text-white">SEE OUR BELIEFS</router-link>
                            </td>
                            <td>
                                <router-link to="/beliefs"><i class="fas fa-caret-right main-menu-icon"></i></router-link>
                            </td>
                        </tr>
                        <tr>
                            <td class="h3">
                                <router-link to="/welcome" style="text-decoration: none;" class="text-white">LATEST SERMON</router-link>
                            </td>
                            <td>
                                <router-link to="/welcome"><i class="fas fa-caret-right main-menu-icon"></i></router-link>
                            </td>
                        </tr>
                    </table>
                    {#<div style="line-height: 1">#}
                        {#<router-link to="/welcome" class="text-white" style="text-decoration: none; font-size: 1.5em">#}
                            {#<span class="d-inline-block align-middle">COME TO A SERVICE&nbsp;&nbsp;&nbsp;</span>#}
                            {#<i style="color:#60aec8;font-size: 2em" class="fas fa-caret-right"></i>#}
                        {#</router-link><br>#}
                        {#<router-link to="/" class="text-white" style="text-decoration: none; font-size: 1.5em">#}
                            {#<span class="d-inline-block">SEE OUR BELIEFS&nbsp;&nbsp;&nbsp;</span>#}
                            {#<i style="color:#60aec8;font-size: 2em" class="fas fa-caret-right"></i>#}
                        {#</router-link><br>#}
                        {#<router-link to="/" class="text-white" style="text-decoration: none; font-size: 1.5em">#}
                            {#<span class="d-inline-block">LATEST SERMON&nbsp;&nbsp;&nbsp;</span>#}
                            {#<i style="color:#60aec8;font-size: 2em" class="fas fa-caret-right"></i>#}
                        {#</router-link><br>#}
                    {#</div>#}
                </div>
            </div>
            <div id="index-mid">
                {#<div id="mid_flex1"></div>#}
                <div id="mid_flex2" class="container mx-auto text-center m-0 text-black-50 h3">
                    <p class="m-0">
                        OUR MISSION IS TO <br>
                        <span class="text-white" id="m&m">MATURE AND MULTIPLY</span><br>
                        BELIEVERS TO LEAVE<br>
                        A GOSPEL LEGACY
                    </p>
                </div>
                {#<div id="mid_flex3"></div>#}
            </div>
            <div id="index-footer" class="py-3 ">
                <div class="container-fluid row mx-0">
                    <div class="col-10 col-lg-11 text-white pl-0">
                        <div class="h4">CONTACT US</div>
                        <div>
                            <a href="#" class="footer-link">info@liveintegrity.org</a><br>
                            <a href="#" class="footer-link">(252) 756-4508</a><br>
                            <a href="#" class="footer-link">569 Irish Ln, Winterville, NC 28590</a>
                        </div>
                    </div>
                    <div id="footer-icon-div" class="col-2 col-lg-1 text-center pr-0">
                        <a href="#"><i class="footer-icon fab fa-facebook-f"></i></a>
                        <a href="#"><i class="footer-icon fab fa-instagram"></i></a>
                        <a href="#"><i class="footer-icon fab fa-twitter"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </template>

    <template id="welcome">
        {{ include('./templates/welcome') }}
    </template>

    <template id="beliefs">
        {{ include('./templates/beliefs') }}
    </template>

    <template id="series">
        {{ include('./templates/series') }}
    </template>

{% endblock content %}
{% block footer %}
{% endblock footer %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script>
        const HomeComponent = {
            props: [],
            template: '#home'
        };
        const WelcomeComponent = {template: '#welcome'};
        const BeliefsComponent = {template: '#beliefs'};
        const SeriesComponent = {template: '#series'};

        const routes = [
            {path: '/', component: HomeComponent},
            {path: '/welcome', component: WelcomeComponent},
            {path: '/beliefs', component: BeliefsComponent},
            {path: '/series', component: SeriesComponent},
            {path: '*', redirect: '/'}
        ];

        const router = new VueRouter({
            routes
        });
        const app = new Vue({
            router
        }).$mount('#app');

        $(document).ready(function(){
            $('#burger').click(function(){
                $(this).toggleClass('open');
//                    .attr('data-dismiss','modal');
                $('#navModal').toggleClass('show').toggleClass('d-flex').toggleClass('no-height').toggleClass('full-height').toggleClass('no-width').toggleClass('full-width');
//                    .css('height','100%');
                $('body').toggleClass('modal-open');
            });
            let OFFSET_TOP = 1;
            $(window).scroll(function () {
                $("#index-nav").length && $("#index-nav").offset().top > OFFSET_TOP
                ? $("#index-nav").addClass("bg-integrity")
                : $("#index-nav").removeClass("bg-integrity")

            });

        });

    </script>
{% endblock scripts %}
