{% extends 'base.twig' %}
    {% block header %}
    {% endblock header %}
{% block content %}
    <div id="app">
        <div>
            <transition name="fade" mode="out-in">
                <router-view></router-view>
            </transition>
        </div>
    </div>
    <template id="home">
        <div>
            {% set bg_color = "dark" %}
            {% set text_color = "white" %}
            {#{% include 'header.twig' %}#}
            <div id="index-header">
                <nav class="navbar fixed-top navbar-expand-md navbar-{{ bg_color }} scrolling-navbar">
                    {% if settings %}
                        <a class="navbar-brand text-hide" href="{{ app_uri }}">Integrity Church
                            <img id="header-logo" src="{{ app_uri }}img/{% if bg_color == "dark" %}{{ settings.header_logo_light }}{% else %}{{ settings.header_logo_dark }}{% endif %}"/>
                        </a>
                    {% endif %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <div id="burger">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                    {#<div class="navbar-collapse collapse" id="navbarSupportedContent">#}
                        {#{% if headerLinks %}#}
                            {#<ul class="navbar-nav ml-auto">#}
                                {#{% for key, parent in headerLinks %}#}
                                    {#{% if key|length %}#}
                                        {#<li class="nav-item dropdown">#}
                                            {#<a class="nav-link dropdown-toggle h5" style="color: {% if text_color == 'dark' %}#343a40{% else %}#fff{% endif %}" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                                                {#{{ key|title }}#}
                                            {#</a>#}
                                            {#<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">#}
                                                {#{% for link in parent%}#}
                                                    {#<a class="dropdown-item" href="{{ app_uri }}{{  link.parent ?  link.parent : '' }}/{{ link.path }}"><strong>{{ link.name|title }}</strong></a>#}
                                                {#{% endfor %}#}
                                            {#</div>#}
                                        {#</li>#}
                                    {#{% endif %}#}
                                {#{% endfor %}#}
                            {#</ul>#}
                        {#{% else %}#}
                            {#<h1>No Link Parents, No Link Rules!</h1>#}
                        {#{% endif %}#}
                    {#</div>#}
                </nav>
            </div>
            <div id="index-top" class="jumbotron jumbotron-fluid m-0">
                {#<img class="img-fluid" src="{{ app_uri }}/img/collage.jpg">#}
                <div id="index-top-main" class="px-4 pb-4 text-right">
                    <div id="welcome-text" class="h1">WELCOME</div>
                    <table border="0" width="100%" class="ml-auto mt-2">
                        <tr>
                            <td class="text-white h3">
                                COME TO A SERVICE
                            </td>
                            <td>
                                <router-link to="/welcome"><i style="color:#60aec8;font-size: 8vw" class="fas fa-caret-right"></i></router-link>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-white h3">
                                SEE OUR BELIEFS
                            </td>
                            <td>
                                <router-link to="/welcome"><i style="color:#60aec8;font-size: 8vw" class="fas fa-caret-right"></i></router-link>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-white h3">
                                LATEST SERMON
                            </td>
                            <td>
                                <router-link to="/welcome"><i style="color:#60aec8;font-size: 8vw" class="fas fa-caret-right"></i></router-link>
                            </td>
                        </tr>
                    </table>
                    {#<div style="line-height: 1">#}
                        {#<router-link to="/welcome" class="text-white" style="text-decoration: none; font-size: 1.5em">#}
                            {#<span class="d-inline-block align-middle">COME TO A SERVICE&nbsp;&nbsp;&nbsp;</span>#}
                            {#<i style="color:#60aec8;font-size: 2em" class="fas fa-caret-right"></i>#}
                        {#</router-link><br>#}
                        {#<router-link to="/" class="text-white" style="text-decoration: none; font-size: 1.5em">#}
                            {#<span class="d-inline-block">SEE OUR BELIEFS&nbsp;&nbsp;&nbsp;</span>#}
                            {#<i style="color:#60aec8;font-size: 2em" class="fas fa-caret-right"></i>#}
                        {#</router-link><br>#}
                        {#<router-link to="/" class="text-white" style="text-decoration: none; font-size: 1.5em">#}
                            {#<span class="d-inline-block">LATEST SERMON&nbsp;&nbsp;&nbsp;</span>#}
                            {#<i style="color:#60aec8;font-size: 2em" class="fas fa-caret-right"></i>#}
                        {#</router-link><br>#}
                    {#</div>#}
                </div>
            </div>
            <div id="index-mid">
                <div id="mid_flex1"></div>
                <div id="mid_flex2" class="container mx-auto text-center m-0 text-black-50 h3">
                    <p class="m-0">
                        OUR MISSION IS TO <br>
                        <span class="text-white" id="m&m">MATURE AND MULTIPLY</span><br>
                        BELIEVERS TO LEAVE<br>
                        A GOSPEL LEGACY
                    </p>
                </div>
                <div id="mid_flex3"></div>
            </div>
            <div id="index-footer" class="fixed-bottom py-3">
                <div class="container-fluid row mx-0">
                    <div class="col-10 text-white pl-0">
                        <div class="h4">CONTACT US</div>
                        <div>
                            <a href="#" class="">info@liveintegrity.org</a><br>
                            <a href="#" class="">(252) 756-4508</a><br>
                            <a href="#" class="">569 Irish Ln, Winterville, NC 28590</a>
                        </div>
                    </div>
                    <div class="col-2 text-center pr-0">
                        <i class="footer-icon fab fa-facebook-f"></i><br>
                        <i class="footer-icon fab fa-instagram py-2"></i><br>
                        <i class="footer-icon fab fa-twitter"></i>
                    </div>
                </div>

            </div>
        </div>
    </template>

    <template id="welcome">
        {{ include('./templates/welcome') }}
    </template>

    <template id="beliefs">
        <div>
            <div class="container-fluid">
                <router-link to="/">
                    <i style="color:#60aec8;font-size: 2.5em" class="fas fa-caret-left"></i>
                </router-link>
            </div>
            <h1>Believe it</h1>
        </div>
    </template>

    <template id="series">
        {{ include('./templates/series') }}
    </template>

{% endblock content %}
{% block footer %}
{% endblock footer %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script>
        const HomeComponent = {
            props: [],
            template: '#home'
        };
        const WelcomeComponent = {template: '#welcome'};
        const BeliefsComponent = {template: '#beliefs'};
        const SeriesComponent = {template: '#series'};

        const routes = [
            {path: '/', component: HomeComponent},
            {path: '/welcome', component: WelcomeComponent},
            {path: '/beliefs', component: BeliefsComponent},
            {path: '/series', component: SeriesComponent},
            {path: '*', redirect: '/'}
        ];

        const router = new VueRouter({
            routes
        });
        const app = new Vue({
            router
        }).$mount('#app');

        $(document).ready(function(){
            $('#burger').click(function(){
                $(this).toggleClass('open');
            });
        });
    </script>
{% endblock scripts %}
