{% extends 'base.twig' %}
{% block addToHead %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ app_uri }}mediaelement/mediaelement-and-player.min.js"></script>
    <script type="text/javascript" src="{{ app_uri }}mediaelement/jump-forward/jump-forward.min.js"></script>
    <script type="text/javascript" src="{{ app_uri }}mediaelement/jump-forward/jump-forward-i18n.js"></script>
    <link rel="stylesheet" href="{{ app_uri }}mediaelement/mediaelementplayer.min.css" />
    <link rel="stylesheet" href="{{ app_uri }}mediaelement/jump-forward/jump-forward.min.css" />


{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center mt-3 mb-3 mt-md-5 h7" style="font-size: 9vw;">SERMONS</div>
    {{ page.content ? page.content|raw : '' }}
</div>
{% if currentSeries %}
    <div class="container"><h2>Current Series:</h2></div>
    {% if seriesImage %}
        <a href="{{ app_uri }}resources/sermons/{{ currentSeries.slug }}">
            <img style="width: 100%; height: auto;" class="img-responsive" src="{{ app_uri }}{{ seriesImage.type }}/sermons/{{ seriesImage.filename }}">

        </a>
    {% else %}
    <h4>{{ currentSeries.title }}</h4>
    {% endif %}
{% endif %}
    {% if audio %}
        <audio id="mediaplayer" src="{{ app_uri }}/aud/{{ audio.filename }}"></audio>
        <script type="text/javascript">
            $('#mediaplayer').mediaelementplayer({
                audioWidth: '100%',
                alwaysShowControls: true,
                features: ['playpause','jumpforward','current','progress','duration','volume' ],
                {#pluginPath: "{{ app_uri }}mediaelement/jump-forward/jump-forward-i18n.js",#}
                jumpForwardInterval: 15,

                // When using jQuery's `mediaelementplayer`, an `instance` argument
                // is available in the `success` callback
    //            success: function(mediaElement, originalNode, instance) {
                    // do things
    //            }
            });
        </script>
    {% endif %}
{% endblock %}