{% extends 'base.twig' %}
{% block addToHead %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ app_uri }}mediaelement/mediaelement-and-player.min.js"></script>
    <script type="text/javascript" src="{{ app_uri }}mediaelement/jump-forward/jump-forward.min.js"></script>
    <script type="text/javascript" src="{{ app_uri }}mediaelement/jump-forward/jump-forward-i18n.js"></script>
    <link rel="stylesheet" href="{{ app_uri }}mediaelement/mediaelementplayer.min.css" />
    <link rel="stylesheet" href="{{ app_uri }}mediaelement/jump-forward/jump-forward.min.css" />


{% endblock %}
{% block content %}
    <div class="container-fluid mt-3 mb-3 mt-md-5 text-center">
        <span style="font-size: 7vw">{{ currentSeries.title }} | </span><span style="font-size: 3vw" class="text-uppercase">{{ sermon.title }}</span>
    </div>
    {% if audio %}
        <audio class="shadow" id="mediaplayer" src="{{ app_uri }}/aud/{{ audio.filename }}"></audio>
        <script type="text/javascript">
            $('#mediaplayer').mediaelementplayer({
                audioWidth: '100%',
                alwaysShowControls: true,
                features: ['playpause','jumpforward','current','progress','duration','volume' ],
                {#pluginPath: "{{ app_uri }}mediaelement/jump-forward/jump-forward-i18n.js",#}
                jumpForwardInterval: 15,

                // When using jQuery's `mediaelementplayer`, an `instance` argument
                // is available in the `success` callback
    //            success: function(mediaElement, originalNode, instance) {
                    // do things
    //            }
            });
        </script>
    {% endif %}
    <div class="container">
        <div class="row text-center my-5">
            {% if sermon.date %}
                <div class="col-12 col-sm-6"><span class="h4"><strong>DATE </strong></span><span class="">{{ sermon.date|date("m/d/Y") }}</span></div>
            {% endif %}
            {% if sermon.passage %}
                <div class="col-12 col-sm-6"><span class="h4"><strong>PASSAGE </strong></span><span class="">{{ sermon.passage }}</span></div>
            {% endif %}
            {% if sermon.preacher %}
                <div class="col-12">By: {{ sermon.preacher }}</div>
            {% endif %}
        </div>
        <img style="width: 100%; height: auto;" class="shadow-lg mb-5" src="{{ app_uri }}{{ seriesImage.type }}/sermons/{{ seriesImage.filename }}">

    </div>
{% endblock %}