<!-- info Section -->
<section id="info" class="content-section text-center" style="font-family: 'Raleway', sans-serif;">
    <div class="container">
        <div class="col-lg-12 mx-auto">
            {% if section.heading %}<h2 style="">{{ section.heading }}</h2>{% endif %}
            <p>{{ settings.address }}&nbsp;{{ settings.city }},&nbsp;{{ settings.state }}&nbsp;{{ settings.zip }}</p>
            <p>{{ settings.times }}</p>
        </div>
    </div>
    </div>
</section>