<!-- info Section -->
<section id="info" class="content-section text-center" style="font-family: 'Raleway', sans-serif;">
    <div class="container">
        <div class="col-lg-12 mx-auto">
            <h2 style="font-size: 4vw;">Locations and Service Times</h2>
            <p style="font-size: 2.5vw; margin-bottom: 0">{{ settings.address }} {{ settings.city }}, {{ settings.state }} {{ settings.zip }}</p>
            <p style="font-size: 2.5vw">{{ settings.times }}</p>
        </div>
    </div>
    </div>
</section>