<!-- Links Section -->
<section id="links" class="content-section text-center bg-light text-dark">
        <div class="mx-auto">
            {% if section.heading %}<h2>{{ section.heading }}</h2>{% endif %}
            <div class = "row text-light">
                <a href="{{ app_uri }}public/admin/settings">
                    <div id = link1 class="col-sm-6 col-lg" style="background-image: url('{{ app_uri }}/img/site/communion.jpg');">
                        <span style="position:absolute; top: 0; left: 0;" class=text-center>Join Us for Worship</span>
                    </div>
                </a>
                <a href="#">
                    <div id = link2 class="col-sm-6 col-lg" style="background-image: url('{{ app_uri }}/img/site/smallgroup.jpg');">
                        <span style="position:absolute; bottom: 0; left: 0;" class=text-center>Join A Smallgroup</span>
                    </div>
                </a>
                <a href="#">
                    <div id = link3 class="col-sm-6 col-lg" style="background-image: url('{{ app_uri }}/img/site/connectBW.jpg');" >
                        <span style="position:absolute; top: 0; left: 0;" class=text-center>Contact Us</span>
                    </div>
                </a>
                <a href="#">
                    <div id = link4 class="col-sm-6 col-lg" style="background-image: url('{{ app_uri }}/img/site/serveprod.jpg');">
                        <span style="position:absolute; bottom: 0; left: 0;" class=text-center>Serve With Us</span>
                    </div>
                </a>
            </div>
        </div>

</section>