<div style="background-color: #2E2E2E">
    <div class="container-fluid sticky-top" style="height:0px">
        <router-link to="/"><i style="color:black ;font-size: 2.5em; z-index: 1000"
                               class="fas fa-caret-left"></i></router-link>
    </div>
    <div id="billboard-grid">
        <img id="billboard-img" src="{{ app_uri }}/img/sermons/{{ seriesImage.filename }}">
    </div>
    <div class="row mt-5 mx-0" style="width: 100%;">
        <div class="col-12 col-md-6 px-0 pl-md-5 pr-md-4">
            <div class="px-3 px-md-0">
                <h4 style="color: #CAB974" class="mb-1"><strong>SERMONS</strong></h4>
                <div style="overflow-y: auto">
                    {% for sermon in sermons %}
                        <div class="d-flex justify-content-between my-1">
                                    <span class="text-truncate">
                                        {{ sermon.date|date("F d") }} : {{ sermon.title|title }}
                                    </span>
                            <span style="white-space: nowrap">
                                        <a href="{{ app_uri }}resources/sermons/{{ currentSeries.slug }}/{{ sermon.slug }}"
                                           class="text-white">
                                            <i class="far fa-play-circle mx-1"></i>
                                        </a>
                                        <a href="{{ app_uri }}{{ sermon.type }}/{{ sermon.folder }}/{{ sermon.filename }}"
                                           download class="text-white">
                                            <i class="fas fa-download mx-1"></i>
                                        </a>
                                    </span>
                        </div>
                    {% endfor %}
                </div>
                <a id="series-dl-btn" class="btn btn-block mt-5"
                   style="border: 5px solid #CAB974; border-radius: 2px;font-weight: bolder; white-space: normal">DOWNLOAD
                    STUDY GUIDE</a>
            </div>
            <img class="mt-5" src="{{ app_uri }}img/site/exiles-girl.jpg" style="width: 100%; height: auto;">
        </div>
        <div class="col-12 col-md-6 pr-md-5 pl-md-4" style="font-size: .7rem">
            <h4 style="color: #CAB974" class="mb-1 mt-5 mt-md-0"><strong>OVERVIEW</strong></h4>
            <p>Suffering is the mark of a believer. Since the days of the early church,
                Christianity has grown even in the midst of severe suffering. In fact, much
                of the New Testament was written to churches who were undergoing
                persecution. The question that remains, however, is how? How have
                believers faced continual opposition and suffering from century to
                century, and have yet endured?</p>
            <p>One common theme that persists throughout the New Testament is that
                belief in God shapes the way people see themselves and the world
                around them. In other words, there is a distinct mindset that resonates
                with Christians that causes them to see the world differently. Followers of
                Jesus are called not to look to this world for ultimate satisfaction, but
                rather to find our satisfaction in Christ. Christ is the true treasure. The
                purpose of our lives is to glorify him as we await eternity, where we live
                with him forever.</p>
            <p>For this reason, we view this world as temporary; this world is not our
                home. This idea is one that encourages believers to endure suffering,
                realizing that our time here on earth is short lived, and what awaits us is
                far greater! Peter summarizes this concept by describing believers with
                one word: Exiles.</p>
            <h4 style="color: #CAB974" class="mb-1"><strong>BACKGROUND</strong></h4>
            <p>The Apostle Peter is writing this letter to many churches scattered
                throughout Asia Minor (modern day Turkey) who are being persecuted
                for their faith in Jesus Christ. The letter was likely written between 62-63
                AD, in a time where Rome was threatened by the rise of Christianity. As a
                result, believers were scattered throughout the region, meeting in house
                churches and living in obscurity.</p>
            <p>The purpose of this letter is to encourage these churches to stay strong
                in the faith. Peter does so by pointing them to the finished work of Christ. His Hope was for
                them to endure suffering by rediscovering the identity they have in Jesus.</p>
            <h4 style="color: #CAB974" class="mb-1"><strong>WHY WE CHOSE THIS SERIES</strong></h4>
            <p>We chose this series for two reasons:</p>
            <p>Christians suffer. We may not suffer the same way as the believers did in
                the first century, however, we live in an imperfect world and hardships are
                inevitable. Therefore, having a biblical mindset is important. Knowing
                that God is Sovereign and in control of all things causes us to trust Him
                and love Him despite the trials we face.</p>
            <p>This is timely for our church. We are in the process of moving our church
                family into a new location. It is important for us not to lose focus on what
                really matters: to mature and multiply believers to leave a gospel legacy!
                1 Peter is a great book that reminds us of how temporary material things are. This truth is
                vital for us at this time, as we prepare our hearts to make this move in a way that honors the
                Lord and keeps our priorities in line with our mission.</p>
        </div>
    </div>
</div>